.width_enght{
	width: 70%;
}
.widht_two{
	width: 30%;
}
.pack_div{
	margin-top: 50px;
}
.navbar{
	margin-bottom: 0;
}
.navbar-inverse .navbar-brand{
	color: #fff;
}
.navbar-brand{
	margin-left: 45%;
}