<!doctype html>
<html lang="zh">
<head>
	<meta charset="UTF-8">
	<!-- 如果支持Google Chrome Frame：GCF，则使用GCF渲染；
	如果系统安装ie8或以上版本，则使用最高版本ie渲染；
	否则，这个设定可以忽略。 -->
	<meta http-equiv="X-UA-Compatible" content="IE=edge">
	<!-- 适配物理设备 -->
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>{$page_title}</title>
	<!-- 引入bootstrap css-->
	<link rel="stylesheet" type="text/css" href="./templates/css/bootstrap.min.css">
	<!-- 引入主要的css文件 -->
	<link rel="stylesheet" type="text/css" href="./templates/css/index.css">
</head>
