{include file="table_header.htm"}
<body>
<!-- 这是内容部分 -->
<div class="container">
	<div calss="row">
		<div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 row-newstwo pack_div">
			<nav class="navbar navbar-inverse"> <a class="navbar-brand" href="#">{$page_title}</a></nav>
			<table class="table table-striped table-bordered">
				<thead>
					<th>用户昵称</th>
					<th>用户获得赞数</th>
					<th>用户发表评论数</th>
				</thead>
				{foreach $row_list as $row}
				<tr>
					<td>{$row.nick}</td>
					<td>{$row.up}</td>
					<td>{$row.cmt_num}</td>
				</tr>
				{/foreach}
			</table>
		</div>
	</div>
</div>
{include file="table_footer.htm"}